<center>
<h1>Welcome to the Volunteer Coordinator App<%=@name %></h1>
<br />
<br />
<p><%= link_to 'See all volunteers', volunteers_path %>
<p><%= link_to 'Add a volunteer', new_volunteer_path %>
</center>
